@model IntergatedBaoKimPayment.ViewModels.BaoKimPaymentViewModel
@using Common
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var bankList = Model.bankPaymentModel.data;
    var orderParamModel = Model.orderParamModel;}
<html>
<head runat="server">
    <style>
        #wrapper {
            width: 715px;
            margin: 0 auto;
            display: grid;
        }

        .nav_header {
            width: 100%;
            background: #006c9a;
            height: 32px;
            margin-bottom: 20px;
            margin-left: 0;
            list-style: none;
        }

        .nav_title {
            line-height: 30px;
            color: #fff;
            font-weight: normal;
            text-align: center;
            font-size: 15px;
        }

        .title {
            font-weight: bold;
            padding-right: 10px;
            display: block;
            font-size: 13px;
        }

        .dest {
            padding-right: 10px;
            display: block;
            color: #777;
            font-size: 12px;
        }

        .infor-customer {
            width: 715px;
            float: left;
            border-bottom: 1px #ccc dotted;
        }

            .infor-customer dt {
                font-weight: normal;
                font-size: 13px;
                width: 115px;
                padding-top: 5px;
            }

            .infor-customer dd {
                margin-left: 125px;
            }

        input {
            box-shadow: none;
            border-radius: 2px;
            height: 20px;
            padding: 4px 6px;
            margin-bottom: 10px;
            font-size: 13px;
            line-height: 24px;
            border-width: 1px;
            /*border-color: #D8D8D8;*/
        }

        .title-info-order {
            font-weight: bold;
            padding-right: 10px;
            display: block;
            font-family: Tahoma, Geneva, sans-serif;
            font-size: 15px;
            color: #1db453;
        }

        .dl-horizontal {
            margin-top: 10px;
        }

            .dl-horizontal dt {
                float: left;
                overflow: hidden;
                clear: left;
                text-align: right;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .dl-horizontal dd {
                /*margin-left: 180px;*/
            }

        dd {
            display: block;
            margin-inline-start: 40px;
        }

        dt, dd {
            line-height: 20px;
        }

        dl {
            margin-bottom: 20px;
        }

        dt {
            display: block;
        }

        ul, ol {
            padding: 0px;
        }

        .dl-order {
            margin-top: 10px;
        }

        .list-box {
            width: 250px;
            height: 30px;
            margin-left: 7px;
        }

        .submit-pay {
            margin: 20px 0 0;
            width: 100%;
            text-align: center;
        }

        .pm-submit {
            height: 40px;
            color: #fff;
            font-weight: bold;
            width: 100px;
            font-size: 15px;
            text-align: center;
            background-color: #5bb75b;
            border-width: 0px;
            border-radius: 5px;
        }

        tr {
            height: 30px;
            width: 100%;
            line-height: 40px;
            margin-top: 20px;
        }

        .selected {
            background-color: #fff;
        }

        .method {
            padding: 15px 0;
            border-bottom: 1px #ccc dotted;
            display: inline-block;
            width: 715px;
            position: relative;
        }

        .img-icon {
            width: 50px;
            height: auto;
            float: left;
            margin-left: 10px;
            display: inline-block;
        }

        .check-box {
            position: absolute;
            top: 25px;
            right: 10px;
            width: 30px;
        }

        .img-bank {
            border: 2px solid white;
            background-color: white;
        }

        .cardList.clearfix {
            overflow-y: auto;
        }
    </style>
</head>

<body>
    <div id="wrapper">
        <div class="nav_header">
            <div class="nav_title">THANH TOÁN ĐƠN HÀNG QUA BẢO KIM</div>
        </div>
        <div class="infor-customer">
            <div class="title-info-order">
                Thông tin đơn hàng
            </div>
            <form id="order-form">
                mrc_order_id <input type="text" name="model.mrc_order_id" value="1" />
                total_amount <input type="text" name="model.total_amount" value="15000" />
                description<input type="text" name="model.description" value="Thịt sạch" />
                url_success <input type="text" name="model.url_success" value="https://www.facebook.com/" />
                merchant_id <input type="text" name="model.merchant_id" value="35113" />
                url_detail  <input type="text" name="model.url_detail" value="https://www.youtube.com/" />
                lang <input type="text" name="model.lang" value="vi" />
                bpm_id<input type="text" name="model.bpm_id" value="130" />
                accept_bank<input type="text" name="model.accept_bank" value="1" />
                accept_cc<input type="text" name="model.accept_cc" value="0" />
                accept_qrpay  <input type="text" name="model.accept_qrpay" value="0" />
                accept_e_wallet <input type="text" name="model.accept_e_wallet" value="0" />
                webhooks  <input type="text" name="model.webhooks" value="https://viettuts.vn/sql/transaction-trong-sql" />
                customer_email <input type="text" name="model.customer_email" value="longdt555@gmail.com" />
                customer_phone  <input type="text" name="model.customer_phone" value="0961647071" />
                customer_name<input type="text" name="model.customer_name" value="Long" />
                customer_address<input type="text" name="model.customer_address" value="VN" />
            </form>
        </div>
        <div style="width:100%;">
            <div ID="txtserverkt" runat="server" name="txtserverkt"> </div>
            <form name="NLpayBank" runat="server">
                <ul class="list-content">
                    <li class="active">
                        <div class="selected method">
                            <div class="img-icon">
                                <img src="~/Content/images/sercurity.png" />
                            </div>
                            <div>
                                <span class="title">Sử dụng ví ngân lượng</span>
                                <span class="dest">thanh toán bằng ví điện tử ngân lượng </span>
                            </div>
                            <div class="check-box"><input type="checkbox" class="radio r-payment-method" ID="NL" runat="server" name="paymentMethod" value="1" /></div>
                        </div>
                    </li>
                    <li class="active">
                        <div class="selected method">
                            <div class="img-icon">
                                <img src="~/Content/images/sercurity.png" />
                            </div>
                            <div>
                                <span class="title">Sử dụng QR code</span>
                                <span class="dest">thanh toán bằng quẹt mã QR </span>
                            </div>
                            <div class="check-box"><input type="checkbox" class="radio r-payment-method" ID="NL" runat="server" name="paymentMethod" value="2" /></div>
                        </div>
                    </li>
                    <li>
                        <div class="selected method">
                            <div class="img-icon">
                                <img src="~/Content/images/atm.png" />
                            </div>
                            <div>
                                <span class="title">Sử dụng thẻ ATM nội địa</span>
                                <span class="dest">thanh toán online thẻ ngân hàng nội địa </span>
                            </div>
                            <div class="check-box"><input type="checkbox" class="radio r-payment-method" id="ATM_ONLINE" runat="server" name="paymentMethod" value="3" /></div>
                        </div>
                        <div class="boxContent hide">
                            <p>
                                <i>
                                    <span style="color:#ff5a00;font-weight:bold;">Lưu ý</span>: Bạn cần đăng ký Internet-Banking hoặc dịch vụ thanh toán trực tuyến tại ngân hàng trước khi thực hiện.
                                </i>
                            </p>
                            <ul class="cardList clearfix">
                                @{
                                    foreach (var item in bankList)
                                    {
                                        var isChecked = string.Empty;
                                        if (item.type == BankPaymentMethod.ATM)
                                        {
                                            if (item.id == 15)
                                            {
                                                isChecked = "checked";
                                            }
                                            <li class="bank-online-methods">
                                                <label for="vcb_ck_on">
                                                    <img class="img-bank" src="@item.bank_logo" alt="Ngân hàng @item.bank_short_name" width="80" />
                                                    <input type = "checkbox" class="radio" ID="VCB" runat="server" name="bankcode" bank_payment_id="@item.id" />
                                                </label>
                                            </li>

                                        }
                                    }
                                }
                            </ul>
                        </div>
                    </li>
                    <div class="selected method">
                        <div class="img-icon">
                            <img src="~/Content/images/atm.png" />
                        </div>
                        <div>
                            <span class="title">Sử dụng thẻ Visa/Master card</span>
                            <span class="dest">chọn thẻ ngân hàng thanh toán </span>
                        </div>
                        <div class="check-box"><input type="checkbox" class="radio r-payment-method" ID="VISA" runat="server" name="paymentMethod" value="4" /></div>
                        <div style="margin-top:15px;clear:both;">
                            <li>
                                <img style="width:100px; margin-left:70px" src="~/Content/images/visa.png" />
                            </li>
                        </div>
                    </div>
                </ul>
                <div class="submit-pay">
                    <button ID="nlpayment" runat="server" onclick="" class="pm-submit">Thanh toán</button>
                </div>
            </form>
        </div>
    </div>
    <script language="javascript">
        var bankPaymentMethod = false;
        $('input[name=""]').bind('click', function () {
            $('.list-content li').removeClass('active');
            $(this).parent().parent('li').addClass('active');
        });

        $('input[type=checkbox][name=paymentMethod]').change(function () {
            debugger;
            if ($(this).is(":checked")) {
                if (this.value != '3') {
                    if (!$(".boxContent").hasClass("hide")) {
                        $(".boxContent").addClass("hide");
                    }
                    bankPaymentMethod = false;
                }
                if (this.value == '1') {
                }
                else if (this.value == '2') {
                } else if (this.value == '3') {
                    $(".boxContent").removeClass("hide");
                    if ($('input[type=checkbox][name=bankcode]:checked').length > 0) {
                        var bankCode = $('input[type=checkbox][name=bankcode]:checked')[0].value;
                        $("#bpm_id").val(bankCode);
                        bankPaymentMethod = true;
                    }
                } else if (this.value == '4') {
                }
            } else {
                $($('input[type=checkbox][name=paymentMethod]')[0]).prop("checked", true)
            }
        });

        // bank selected
       
        $('#nlpayment').click(function (e) {
            if (bankPaymentMethod) {
                $('input[type=checkbox][name=bankcode]').change(function () {
                    var bankCode = $('input[type=checkbox][name=bankcode]:checked')[0].value;
                    $("#bpm_id").val(bankCode);
                });
            }
            $.ajax({
                url: '/BaoKimPayment/SendOrder',
                type: 'post',
                dataType: 'json',
                data: $('#order-form').serialize(),
                success: function (response) { }
            });
        });

        // checkbox
        $("input:checkbox").on('click', function () {
            // in the handler, 'this' refers to the box clicked on
            var $box = $(this);
            if ($box.is(":checked")) {
                // the name of the box is retrieved using the .attr() method
                // as it is assumed and expected to be immutable
                var group = "input:checkbox[name='" + $box.attr("name") + "']";
                // the checked state of the group/box on the other hand will change
                // and the current value is retrieved using .prop() method
                $(group).prop("checked", false);
                $box.prop("checked", true);
            } else {
                $box.prop("checked", false);
            }
        });
    </script>
</body>
</html>
