@{
    Layout = null;
}

<form>
    <input type="text" name="model.mrc_order_id" />
    <input type="text" name="model.total_amount" />
    <input type="text" name="model.description" />
    <input type="text" name="model.merchant_id" />
    <input type="text" name="model.url_detail" />
    <input type="text" name="model.lang" />
    <input type="text" name="model.bpm_id" />
    <input type="text" name="model.accept_bank" />
    <input type="text" name="model.accept_cc" />
    <input type="text" name="model.accept_qrpay" />
    <input type="text" name="model.accept_e_wallet" />
    <input type="text" name="model.webhooks" />
    <input type="text" name="model.customer_email" />
    <input type="text" name="model.customer_phone" />
    <input type="text" name="model.customer_name" />
    <input type="text" name="model.customer_address" />
</form>