@{
    Layout = null;
}
<html>
<head runat="server">
    <title></title>
    <link rel="stylesheet" href="../Content/Site.css" type="text/css" />
</head>
<body>
    <form id="order-form">
        mrc_order_id <input type="text" name="model.mrc_order_id" value="1" />
        total_amount <input type="number" name="model.total_amount" value="1000" />
        description<input type="text" name="model.description" value="Thịt sạch" />
        url_success <input type="text" name="model.url_success" value="https://www.facebook.com/" />
        merchant_id <input type="number" name="model.merchant_id" value="35113" />
        url_detail  <input type="text" name="model.url_detail" value="https://www.youtube.com/" />
        lang <input type="text" name="model.lang" value="vi" />
        bpm_id<input type="number" name="model.bpm_id" value="105" />
        accept_bank<input type="text" name="model.accept_bank" value="1" />
        accept_cc<input type="text" name="model.accept_cc" value="0" />
        accept_qrpay  <input type="text" name="model.accept_qrpay" value="0" />
        accept_e_wallet <input type="text" name="model.accept_e_wallet" value="0" />
        webhooks  <input type="text" name="model.webhooks" value="https://viettuts.vn/sql/transaction-trong-sql" />
        customer_email <input type="text" name="model.customer_email" value="longdt555@gmail.com" />
        customer_phone  <input type="text" name="model.customer_phone" value="0961647071" />
        customer_name<input type="text" name="model.customer_name" value="Long" />
        customer_address<input type="text" name="model.customer_address" value="VN" />
    </form>
    <h3>Chọn phương thức thanh toán</h3>
    <div ID="txtserverkt" runat="server" name="txtserverkt"> </div>
    <form name="NLpayBank" runat="server">
        <ul class="list-content">
            <li class="active">
                <label>
                    <input type="radio" ID="NL" runat="server" groupname="" name="" />
                    Thanh toán bằng Ví điện tử Ngân Lượng
                </label>
                <div class="boxContent">
                    <p>
                        Thanh toán trực tuyến AN TOÀN và ĐƯỢC BẢO VỆ, sử dụng thẻ ngân hàng trong và ngoài nước hoặc nhiều hình thức tiện lợi khác.
                        Được bảo hộ & cấp phép bởi NGÂN HÀNG NHÀ NƯỚC, ví điện tử duy nhất được cộng đồng ƯA THÍCH NHẤT 2 năm liên tiếp, Bộ Thông tin Truyền thông trao giải thưởng Sao Khuê
                        <br />Giao dịch. Đăng ký ví NgânLượng.vn miễn phí <a href="https://www.nganluong.vn/?portal=nganluong&amp;page=user_register" target="_blank">tại đây</a>
                    </p>
                </div>
            </li>
            <li>
                <label><input type="radio" id="ATM_ONLINE" runat="server" groupname="" name="" />Thanh toán online bằng thẻ ngân hàng nội địa</label>
                <div class="boxContent hide">
                    <p>
                        <i>
                            <span style="color:#ff5a00;font-weight:bold;text-decoration:underline;">Lưu ý</span>: Bạn cần đăng ký Internet-Banking hoặc dịch vụ thanh toán trực tuyến tại ngân hàng trước khi thực hiện.
                        </i>
                    </p>

                    <ul class="cardList clearfix">

                        <li class="bank-online-methods ">
                            <label for="vcb_ck_on">
                                <i class="VCB" title="Ngân hàng TMCP Ngoại Thương Việt Nam"></i>
                                <input type="radio" ID="VCB" runat="server" groupname="bankcode" />

                            </label>
                        </li>

                        <li class="bank-online-methods ">
                            <label for="vnbc_ck_on">
                                <i class="DAB" title="Ngân hàng Đông Á"></i>
                                <input type="radio" ID="DAB" runat="server" groupname="bankcode" />

                            </label>
                        </li>

                        <li class="bank-online-methods ">
                            <label for="tcb_ck_on">
                                <i class="TCB" title="Ngân hàng Kỹ Thương"></i>
                                <input type="radio" ID="TCB" runat="server" groupname="bankcode" />
                            </label>
                        </li>

                        <li class="bank-online-methods ">
                            <label for="sml_atm_mb_ck_on">
                                <i class="MB" title="Ngân hàng Quân Đội"></i>
                                <input type="radio" ID="MB" runat="server" groupname="bankcode" />

                            </label>
                        </li>

                        <li class="bank-online-methods ">
                            <label for="shb_ck_on">
                                <i class="SHB" title="Ngân hàng Sài Gòn - Hà Nội"></i>
                                <input type="radio" ID="SHB" runat="server" groupname="bankcode" />

                            </label>
                        </li>

                        <li class="bank-online-methods ">
                            <label for="sml_atm_vib_ck_on">
                                <i class="VIB" title="Ngân hàng Quốc tế"></i>
                                <input type="radio" ID="VIB" runat="server" groupname="bankcode" />

                            </label>
                        </li>

                        <li class="bank-online-methods ">
                            <label for="sml_atm_vtb_ck_on">
                                <i class="ICB" title="Ngân hàng Công Thương Việt Nam"></i>
                                <input type="radio" ID="ICB" runat="server" groupname="bankcode" />

                            </label>
                        </li>

                        <li class="bank-online-methods ">
                            <label for="sml_atm_exb_ck_on">
                                <i class="EXB" title="Ngân hàng Xuất Nhập Khẩu"></i>
                                <input type="radio" ID="EXB" runat="server" groupname="bankcode" />

                            </label>
                        </li>

                        <li class="bank-online-methods ">
                            <label for="sml_atm_acb_ck_on">
                                <i class="ACB" title="Ngân hàng Á Châu"></i>
                                <input type="radio" ID="ACB" runat="server" groupname="bankcode" />

                            </label>
                        </li>

                        <li class="bank-online-methods ">
                            <label for="sml_atm_hdb_ck_on">
                                <i class="HDB" title="Ngân hàng Phát triển Nhà TPHCM"></i>
                                <input type="radio" ID="HDB" runat="server" groupname="bankcode" />

                            </label>
                        </li>

                        <li class="bank-online-methods ">
                            <label for="sml_atm_msb_ck_on">
                                <i class="MSB" title="Ngân hàng Hàng Hải"></i>
                                <input type="radio" ID="MSB" runat="server" groupname="bankcode" />

                            </label>
                        </li>

                        <li class="bank-online-methods ">
                            <label for="sml_atm_nvb_ck_on">
                                <i class="NVB" title="Ngân hàng Nam Việt"></i>
                                <input type="radio" ID="NVB" runat="server" groupname="bankcode" />

                            </label>
                        </li>

                        <li class="bank-online-methods ">
                            <label for="sml_atm_vab_ck_on">
                                <i class="VAB" title="Ngân hàng Việt Á"></i>
                                <input type="radio" ID="VAB" runat="server" groupname="bankcode" />

                            </label>
                        </li>

                        <li class="bank-online-methods ">
                            <label for="sml_atm_vpb_ck_on">
                                <i class="VPB" title="Ngân Hàng Việt Nam Thịnh Vượng"></i>
                                <input type="radio" ID="VPB" runat="server" groupname="bankcode" />

                            </label>
                        </li>

                        <li class="bank-online-methods ">
                            <label for="sml_atm_scb_ck_on">
                                <i class="SCB" title="Ngân hàng Sài Gòn Thương tín"></i>
                                <input type="radio" ID="SCB" runat="server" groupname="bankcode" />

                            </label>
                        </li>

                        <li class="bank-online-methods ">
                            <label for="ojb_ck_on">
                                <i class="OJB" title="Ngân hàng Đại Dương"></i>
                                <input type="radio" ID="OJB" runat="server" groupname="bankcode" />

                            </label>
                        </li>

                        <li class="bank-online-methods ">
                            <label for="bnt_atm_pgb_ck_on">
                                <i class="PGB" title="Ngân hàng Xăng dầu Petrolimex"></i>
                                <input type="radio" ID="PGB" runat="server" groupname="bankcode" />

                            </label>
                        </li>

                        <li class="bank-online-methods ">
                            <label for="bnt_atm_gpb_ck_on">
                                <i class="GPB" title="Ngân hàng TMCP Dầu khí Toàn Cầu"></i>
                                <input type="radio" ID="GPB" runat="server" groupname="bankcode" />

                            </label>
                        </li>

                        <li class="bank-online-methods ">
                            <label for="bnt_atm_agb_ck_on">
                                <i class="AGB" title="Ngân hàng Nông nghiệp &amp; Phát triển nông thôn"></i>
                                <input type="radio" ID="AGB" runat="server" groupname="bankcode" />

                            </label>
                        </li>

                        <li class="bank-online-methods ">
                            <label for="bnt_atm_sgb_ck_on">
                                <i class="SGB" title="Ngân hàng Sài Gòn Công Thương"></i>
                                <input type="radio" ID="SGB" runat="server" groupname="bankcode" />

                            </label>
                        </li>

                        <li class="bank-online-methods ">
                            <label for="bnt_atm_nab_ck_on">
                                <i class="NAB" title="Ngân hàng Nam Á"></i>
                                <input type="radio" ID="NAB" runat="server" groupname="bankcode" />

                            </label>
                        </li>

                        <li class="bank-online-methods ">
                            <label for="sml_atm_bab_ck_on">
                                <i class="BAB" title="Ngân hàng Bắc Á"></i>
                                <input type="radio" ID="BAB" runat="server" groupname="bankcode" />

                            </label>
                        </li>

                    </ul>

                </div>
            </li>
            <li>
                <label><input type="radio" ID="VISA" runat="server" groupname="" name="" />Thanh toán bằng thẻ Visa hoặc MasterCard</label>
                <div class="boxContent"></div>
            </li>
        </ul>
        <table style="clear:both;width:500px;padding-left:46px;">
            <tr>
                <td colspan="2"><p><span style="color:#ff5a00;font-weight:bold;text-decoration:underline;">Lưu ý</span> Bạn nhập đầy đủ thông tin sau </td>
            </tr>
            <tr>
                <td>Họ Tên: </td>
                <td>
                    <input runat="server" type="text" style="width:270px" id="buyer_fullname" name="buyer_fullname" class="field-check " value="">

                </td>
            </tr>
            <tr>
                <td>Email: </td>
                <td>
                    <input runat="server" type="text" style="width:270px" id="buyer_email" name="buyer_email" class="field-check " value="">
                </td>
            </tr>
            <tr>
                <td>Số Điện thoại: </td>
                <td>
                    <input runat="server" type="text" style="width:270px" id="buyer_mobile" name="buyer_mobile" class="field-check " value="">
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button ID="nlpayment" runat="server" onclick="">Thanh toán</button>
                </td>
            </tr>
        </table>

    </form>
    <script src="https://www.nganluong.vn/webskins/javascripts/jquery_min.js" type="text/javascript"></script>
    <script language="javascript">
        $('input[name=""]').bind('click', function () {
            $('.list-content li').removeClass('active');
            $(this).parent().parent('li').addClass('active');
        });
        $("#ATM_ONLINE").change(function () {
            if ($(this).is(':checked')) {
                $('.boxContent').removeClass('hide');
            } else {
                $('.boxContent').addClass('hide');
            }
        });
        $('#nlpayment').click(function () {
            $.ajax({
                url: '/Payment/CreateProductAsync',
                type: 'post',
                dataType: 'json',
                data: $('#order-form').serialize(),
                success: function (response) { }
            });
        });
    </script>
</body>
</html>
